@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-cadet: #8145ff;
  --golden-yellow: #ffe606;

  --font-serif: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--space-cadet);
}
